body {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
.redText {
  color: rgb(221, 73, 73);
}
@media screen and (max-width: 600px) {
  body {
  width: max-content;
     display: flex;
  justify-content: center;
  flex-wrap: wrap;
      flex-direction: column;

  }
}
